/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

/*  */

.wrapper {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

.app {
    width: 350px;
    display: grid;
    padding: 10px 15px;
    background-image: url(img/tip.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgb(87, 73, 56);
}

.app-wrapper {
    display: grid;
}

h1 {
    font-size: 1.5rem;
    padding: 5px 10px;
    text-align: center;
    text-shadow: 0 7px 5px rgb(87, 73, 56);
}

hr {
    border: none;
    background-color: black;
    padding: 1px;
    width: 30%;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0 7px 5px rgb(87, 73, 56);
}

/* Main styles */
.cost-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 10px 0;
}

.pre {
    background-color: rgba(124, 98, 59, 0.5);
    border-bottom: 3px solid rgba(105, 57, 57, 0.733);
    border-left: 10px solid rgb(148, 112, 71);
    border-radius: 0 35% 0 0;
    animation: dolAnim 5s linear infinite;
    font-family: Arial, Helvetica, sans-serif;
    height: 75px;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 40px;
    font-weight: 900;
}

#cost {
    border: none;
    border-bottom: 3px solid rgba(105, 57, 57, 0.733);
    background-color: rgba(226, 210, 144, 0.671);
    height: 50px;
    align-self: end;
    text-align: center;
    font-size: 1rem;
}

#cost::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-family: 'Libre Baskerville', serif;
}

#cost:hover::placeholder {
    color: rgb(255, 255, 255);
}

#cost:focus {
    outline: 2px solid rgb(145, 114, 71);
}

.service {
    border: none;
    border-bottom: 3px solid rgba(105, 57, 57, 0.733);
    background-color: rgba(226, 210, 144, 0.671);
    height: 50px;
    width: 100%;
    align-self: center;
    text-align: center;
    text-align-last: center;
    font-size: 1rem;
}

.service:hover {
    color: white;
}

.service:hover option {
    color: black;
}

.service:focus {
    outline: 2px solid rgb(145, 114, 71);
}

.service option {
    font-size: 1.2rem;
    text-align: center;
    text-align-last: center;
}



.people {
    border: none;
    border-bottom: 3px solid rgba(105, 57, 57, 0.733);
    background-color: rgba(226, 210, 144, 0.671);
    height: 50px;
    width: 100%;
    align-self: center;
    text-align: center;
    font-size: 1rem;
    margin: 10px 0;
}

.people:focus {
    outline: 2px solid rgb(145, 114, 71);
}

.people::placeholder {
    color: black;
    font-size: 0.96rem;
}

.people:hover::placeholder {
    color: white;
}



.tip {
    padding: 20px 30px;
    background-color: rgba(226, 210, 144, 0.671);
    justify-self: center;
    border-bottom: 3px solid rgba(105, 57, 57, 0.733);
    border-radius: 20px 20px 0 0;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    font-weight: 900;
    background: radial-gradient(rgba(226, 210, 144, 0.671), rgba(138, 117, 72, 0.6));
}


.tip-btn {
    font-family: monospace;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.795);
    justify-self: center;
    border-top: 3px solid rgba(105, 57, 57, 0.733);
    border-radius: 0 0 20px 20px;
    display: grid;
    align-self: start;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    /* background: radial-gradient(rgba(226, 210, 144, 0.671), rgba(138, 117, 72, 0.6)); */
}

.tip-btn:hover {
    background-color: rgb(71, 67, 71);
    cursor: pointer;
}
.tip-btn:active {
    font-size: 1.8rem;
}


h3 {
    text-align: center;
    text-shadow: 0 7px 5px rgb(87, 73, 56);
}



















/* Animation */
@keyframes dolAnim {
    0% {
        color: black;
    }
    25% {
        color: rgba(26, 25, 24, 0.664);
    }
    50% {
        color: rgba(66, 61, 48, 0.678);
    }
    75% {
        color: rgba(36, 34, 32, 0.678);
    }
    100% {
        color: black;
    }
}