/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Baskerville', serif;
}

/* MAIN STYLES */
.app {
    display: grid;
    background: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-content: center;
}

/* main {
    display: grid;
    grid-template-rows: 58vh 13vh;
} */

.calculator {
    width: 33vw;
    height: 69vh;
    background: url(img/tip.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 2vw;
    padding: 1vw;
    box-shadow: 0 0.5vw 0.7vw rgb(87, 73, 56);
    overflow: auto;
}

.header {
    height: 10vh;
}

.options {
    display: grid;
    grid-template-rows: 13vh 13vh 13vh 18.5vh 13vh;
    overflow: auto;
}

/* Other styles */

h1 {
    text-align: center;
    padding: 15px 25px;
    text-transform: uppercase;
    text-shadow: 0 0.5vw 0.7vw rgb(87, 73, 56);
    font-size: 2.2vw;
}

hr {
    width: 35%;
    margin: 0 auto;
    border: none;
    color: black;
    background-color: rgb(80, 62, 45);
    padding: 0.1vw;
    box-shadow: 0 0.5vw 0.7vw rgb(87, 73, 56);
}

/* Input Group styles */

.input-group:first-child {
    display: grid;
    grid-template-columns: 20% 80%;
}

.pre {
    display: grid;
    width: 100%;
    height: 100%;
    font-weight: 900;
    font-size: 5vw;
    align-items: center;
    justify-items: center;
    background-color: rgba(124, 98, 59, 0.5);
    border-bottom: 0.3vw solid rgba(105, 57, 57, 0.733);
    border-left: 1vw solid rgb(148, 112, 71);
    border-radius: 0 35% 0 0;
    animation: dolAnim 5s linear infinite;
    font-family: Arial, Helvetica, sans-serif;
    /* box-shadow: 0 0.5vw 0.7vw rgb(87, 73, 56); */
}

.cost {
    border: none;
    border-bottom: 0.3vw solid rgba(105, 57, 57, 0.733);
    background-color: rgba(226, 210, 144, 0.671);
    height: 8vh;
    align-self: end;
    text-align: center;
    font-size: 1rem;
    /* box-shadow: 0 0.5vw 0.7vw rgb(87, 73, 56); */
}

.cost::placeholder {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-family: 'Libre Baskerville', serif;
}

.cost:hover::placeholder {
    color: rgb(255, 255, 255);
}

.cost:focus {
    outline: 2px solid rgb(145, 114, 71);
}

.input-group:nth-child(2) {
    display: grid;
    align-items: center;
    justify-items: center;
}

.service {
    border: none;
    border-bottom: 0.3vw solid rgba(105, 57, 57, 0.733);
    background-color: rgba(226, 210, 144, 0.671);
    height: 8vh;
    width: 31vw;
    align-self: center;
    text-align: center;
    text-align-last: center;
    font-size: 1rem;
}

.service:hover {
    color: white;
}

.service:hover option {
    color: black;
}

.service:focus {
    outline: 2px solid rgb(145, 114, 71);
}



.service option {
    font-size: 1.2rem;
    text-align: center;
    text-align-last: center;
}


.people {
    border: none;
    border-bottom: 0.3vw solid rgba(105, 57, 57, 0.733);
    background-color: rgba(226, 210, 144, 0.671);
    height: 8vh;
    width: 31vw;
    align-self: center;
    text-align: center;
    font-size: 1rem;
}

.people:focus {
    outline: 2px solid rgb(145, 114, 71);
}

.people::placeholder {
    color: black;
    font-size: 0.96rem;
}

.people:hover::placeholder {
    color: white;
}


.you-should-tip {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.you-should-tip > h3 {
    text-align: center;
    text-shadow: 0 0.5vw 0.7vw rgb(87, 73, 56);
    align-self: start;
}

.tip {
    padding: 20px 30px;
    background-color: rgba(226, 210, 144, 0.671);
    justify-self: center;
    border-bottom: 0.3vw solid rgba(105, 57, 57, 0.733);
    border-radius: 2vw 2vw 0 0;
    display: grid;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    font-weight: 900;
    background: radial-gradient(rgba(226, 210, 144, 0.671), rgba(138, 117, 72, 0.6));
}

#tip-btn {
    font-family: monospace;
    width: 10vw;
    height: 13vh;
    background-color: rgba(0, 0, 0, 0.795);
    justify-self: center;
    border-top: 0.3vw solid rgba(105, 57, 57, 0.733);
    border-radius: 0vw 0vw 2vw 2vw;
    display: grid;
    align-self: start;
    align-items: center;
    justify-items: center;
    font-size: 2rem;
    font-weight: 900;
    color: white;
    /* background: radial-gradient(rgba(226, 210, 144, 0.671), rgba(138, 117, 72, 0.6)); */
}

#tip-btn:hover {
    background-color: rgb(71, 67, 71);
}
#tip-btn:active {
    font-size: 1.8rem;
}













/* Animation */
@keyframes dolAnim {
    0% {
        color: black;
    }
    25% {
        color: rgb(48, 45, 41);
    }
    50% {
        color: rgb(114, 90, 71);
    }
    75% {
        color: rgb(51, 54, 39);
    }
    100% {
        color: black;
    }
}